<h1 *ngIf="dataService.onlineUsers.length == 0">Pas d'utilisateur connecté</h1>
<h1 *ngIf="dataService.onlineUsers.length > 0">{{dataService.onlineUsers.length}}
  {{dataService.onlineUsers.length > 1 ? 'utilisateurs sont connectés' : 'utilisateur est connecté'}} dont
  {{dataService.nbInvisibles}} {{dataService.nbInvisibles > 1 ? 'invisibles' : 'invisible'}}</h1>
<div *ngFor="let onlineUser of dataService.onlineUsers">
  <div *ngIf="onlineUser.visible == 'oui'">
    <figure class="image is-64x64 is-inline-block">
      <img [src]="onlineUser.lienAvatar" />
    </figure>
    {{onlineUser.identifiant}}
  </div>
</div>