<!-- Nombre d'utilisateurs connectés -->
<div class="columns">
  <div class="column is-flex is-align-items-center is-justify-content-center">
    <div class="dropdown is-right is-hoverable">
      <div class="dropdown-trigger">
        <a routerLink="/classement" routerLinkActive="active">
          <p *ngIf="dataService.onlineNb == 0">Pas d'utilisateur connecté</p>
          <p *ngIf="dataService.onlineNb > 0">{{dataService.onlineNb}}
            {{dataService.onlineNb > 1 ? 'utilisateurs sont connectés' : 'utilisateur est connecté'}} dont
            {{dataService.onlineNb - dataService.onlineUsers.length}}
            {{dataService.onlineNb - dataService.onlineUsers.length > 1 ? 'invisibles' : 'invisible'}}</p>
        </a>
      </div>
      <div class="dropdown-menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <p>Afficher le classement</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Liste des utilisateurs visibles -->
<div *ngFor="let onlineUser of dataService.onlineUsers">
  <div class="columns">
    <!-- On fait un tableau à une seule colonne pour que les contenus restent alignés en vue portrait -->
    <div class="column is-flex is-align-items-center is-justify-content-center">
      <!-- Avatar -->
      <div class="column is-one-fifth">
        <figure class="image is-48x48 is-inline-block">
          <img [src]="onlineUser.lienAvatar" />
        </figure>
      </div>
      <!-- Pseudo -->
      <div class="column is-three-fifths">
        <div *ngIf="onlineUser.lienTrophees != ''" class="dropdown is-right is-hoverable is-inline-block">
          <div class="dropdown-trigger">
            <a (click)="voirTropheesPerso(onlineUser)">{{onlineUser.pseudo}}</a>
          </div>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                <p>Afficher ses trophées</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="onlineUser.lienTrophees == ''" class="is-inline-block">{{onlineUser.pseudo}}</div>
      </div>
      <!-- Scores -->
      <div class="column is-one-fifth">
        <div class="dropdown is-right is-hoverable">
          <div class="dropdown-trigger">
            <a (click)="voirClassementPerso(onlineUser)">{{onlineUser.score}}</a>
          </div>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                <p>Afficher son classement</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>