<div class="container is-max-desktop" style="text-align:center">
  <div class="box">
    <!-- Identifiant -->
    <h1 class="title is-3">Identifiant</h1>
    <div class="columns is-centered">
      <div class="column is-narrow">
        <!-- Champ de connexion -->
        <form [formGroup]="angForm" (ngSubmit)="dataService.login(angForm.value.identifiant, true)" autocomplete="off"
          autocorrect="off" autocapitalize="off" spellcheck="false">
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <!-- Champ en lui-même -->
              <input
                [ngClass]="{'input is-large': true, 'is-success': (!errPetitNbChar && !errGrandNbChar && !errSpChar && !defaut), 'is-danger': (errPetitNbChar || errGrandNbChar || errSpChar)}"
                type="identifiant" name="identifiant" formControlName="identifiant" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="false" class="form-control input-sm" placeholder="Identifiant"
                size="5">
              <!-- icônes de part et d'autre du champ -->
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span *ngIf="(!errPetitNbChar && !errGrandNbChar && !errSpChar && !defaut)"
                class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
              <span *ngIf="(errPetitNbChar || errGrandNbChar || errSpChar)" class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            </div>
            <!-- Indications sous le champ -->
            <div *ngIf="(!errPetitNbChar && !errGrandNbChar && !errSpChar && !defaut)"
              style="color: hsl(141, 53%, 53%);">C'est parfait !</div>
            <div *ngIf="errPetitNbChar" style="color: hsl(348, 100%, 61%);">C'est trop court !</div>
            <div *ngIf="errGrandNbChar" style="color: hsl(348, 100%, 61%);">C'est trop long !</div>
            <div *ngIf="errSpChar" style="color: hsl(348, 100%, 61%);">N'utilises que des chiffres<br>et des lettres
              sans accent !</div>
          </div>
          <br>
          <!-- Bouton d'envoi -->
          <button type="submit" class="button is-success is-rounded is-medium">Se connecter</button>
        </form>
      </div>
    </div>
    <br>
    <!-- Comment ça marche ? -->
    <h1 class="title is-3">Comment ça marche ?</h1>
    <div>
      <p>
        Sur ce site, tu peux te connecter juste avec un identifiant,<br>
        <strong>il n'y a pas de mot de passe !</strong><br>
        Pour éviter que quelqu'un d'autre ne se connecte sur ton compte,<br>
        <strong>il te faut un identifiant difficile à deviner !</strong><br>
        Par contre tu n'as droit qu'à un mélange de<br><strong>4 ou 5 chiffres ou lettres sans accent</strong>.<br>
        Si c'est ta première visite, pas de problème !<br>
        <strong>Ton compte sera créé automatiquement ;)</strong><br>
      </p>
    </div>
  </div>
</div>