/****************************************************************************************************
***** Bandeau supérieur
****************************************************************************************************/
/* Met les icones en couleur */
.tabs-menu-link.is-warning i {
  filter: invert(73%) sepia(96%) saturate(209%) hue-rotate(346deg) brightness(104%) contrast(103%);
}
.tabs-menu-link.is-link i {
  filter: invert(29%) sepia(98%) saturate(796%) hue-rotate(203deg) brightness(101%) contrast(88%);
}
.tabs-menu-link.is-info i {
  filter: invert(49%) sepia(45%) saturate(746%) hue-rotate(165deg) brightness(94%) contrast(83%);
}
.tabs-menu-link.is-danger i {
  filter: invert(44%) sepia(73%) saturate(4057%) hue-rotate(324deg) brightness(98%) contrast(92%);
}
.tabs-menu-link.is-primary i {
  filter: invert(56%) sepia(99%) saturate(1427%) hue-rotate(128deg) brightness(97%) contrast(103%);
}
.tabs-menu-link.is-success i {
  filter: invert(67%) sepia(17%) saturate(1218%) hue-rotate(101deg) brightness(96%) contrast(92%);
}
/* Met les icones en blanc lors du survol */
.tabs-menu-link:hover i {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
/* Met le fond de la bonne couleur lors du survol */
li:hover .is-warning {
  background-color: #ffe08a;
}
li:hover .is-link {
  background-color: #485fc7;
}
li:hover .is-info {
  background-color: #3e8ed0;
}
li:hover .is-danger {
  background-color: #f14668;
}
li:hover .is-primary {
  background-color: #00d1b2;
}
li:hover .is-success {
  background-color: #48c78e;
}
/* Met en évidence l'onglet actif */
.is-actif > .tabs-menu-link i {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
li.is-actif .is-warning {
  background-color: #ffe08a;
}
li.is-actif .is-link {
  background-color: #485fc7;
}
li.is-actif .is-info {
  background-color: #3e8ed0;
}
li.is-actif .is-danger {
  background-color: #f14668;
}
li.is-actif .is-primary {
  background-color: #00d1b2;
}
li.is-actif .is-success {
  background-color: #48c78e;
}
/****************************************************************************************************
***** Colorisation des icones en général
****************************************************************************************************/
/* Gris foncé par défaut */
i {
  filter: invert(26%) sepia(0%) saturate(3266%) hue-rotate(151deg) brightness(95%) contrast(83%);
}
/* Gris clair pour les icones des champs qui n'ont pas le focus */
input ~ .filter-grey {
  filter: invert(96%) sepia(0%) saturate(540%) hue-rotate(210deg) brightness(99%) contrast(81%);
}
/* Gris foncé lorsque le champ a le focus */
input:focus ~ .filter-grey{
  filter: invert(26%) sepia(0%) saturate(3266%) hue-rotate(151deg) brightness(95%) contrast(83%);
}
/* Blanc lorsque l'icône est dans un bouton qu'on survole */
button:hover > i {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
/* Colore l'icone selon les couleurs de Bulma */
.is-warning i {
  filter: invert(73%) sepia(96%) saturate(209%) hue-rotate(346deg) brightness(104%) contrast(103%);
}
.is-link i {
  filter: invert(29%) sepia(98%) saturate(796%) hue-rotate(203deg) brightness(101%) contrast(88%);
}
.is-info i {
  filter: invert(49%) sepia(45%) saturate(746%) hue-rotate(165deg) brightness(94%) contrast(83%);
}
.is-danger i {
  filter: invert(44%) sepia(73%) saturate(4057%) hue-rotate(324deg) brightness(98%) contrast(92%);
}
.is-primary i {
  filter: invert(56%) sepia(99%) saturate(1427%) hue-rotate(128deg) brightness(97%) contrast(103%);
}
.is-success i {
  filter: invert(67%) sepia(17%) saturate(1218%) hue-rotate(101deg) brightness(96%) contrast(92%);
}
.is-sponsor i {
  filter: invert(41%) sepia(47%) saturate(2515%) hue-rotate(298deg) brightness(97%) contrast(88%);
}
/****************************************************************************************************
***** Autres
****************************************************************************************************/

.centre {
  text-align:center;
}

.MathJax {
  font-size: 1.8em;
  line-height: 2;
  }

.pleinEcran {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:99;
}

.moveUp {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: moveUp 2s;
}

@keyframes moveUp {
  0% { transform: translate(0px, 100%); }
  100% { transform: translate(0px, 20%); }
}
.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.button.is-sponsor {
  background-color: #ea4aaa;
  border-color: transparent;
  color: #fff
}

.button.is-sponsor.is-hovered, .button.is-sponsor:hover {
  background-color: #e93fa5;
  border-color: transparent;
  color: #fff
}

.button.is-sponsor.is-focused, .button.is-sponsor:focus {
  border-color: transparent;
  color: #fff
}

.button.is-sponsor.is-focused:not(:active), .button.is-sponsor:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(234, 74, 170, .25)
}

.button.is-sponsor.is-active, .button.is-sponsor:active {
  background-color: #e7339f;
  border-color: transparent;
  color: #fff
}

.button.is-sponsor[disabled], fieldset[disabled] .button.is-sponsor {
  background-color: #ea4aaa;
  border-color: transparent;
  box-shadow: none
}

.button.is-sponsor.is-inverted {
  background-color: #fff;
  color: #ea4aaa
}

.button.is-sponsor.is-inverted.is-hovered, .button.is-sponsor.is-inverted:hover {
  background-color: #f2f2f2
}

.button.is-sponsor.is-inverted[disabled], fieldset[disabled] .button.is-sponsor.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: #ea4aaa
}

.button.is-sponsor.is-loading::after {
  border-color: transparent transparent #fff #fff!important
}

.button.is-sponsor.is-outlined {
  background-color: transparent;
  border-color: #ea4aaa;
  color: #ea4aaa
}

.button.is-sponsor.is-outlined.is-focused, .button.is-sponsor.is-outlined.is-hovered, .button.is-sponsor.is-outlined:focus, .button.is-sponsor.is-outlined:hover {
  background-color: #ea4aaa;
  border-color: #ea4aaa;
  color: #fff
}

.button.is-sponsor.is-outlined.is-loading::after {
  border-color: transparent transparent #ea4aaa #ea4aaa!important
}

.button.is-sponsor.is-outlined.is-loading.is-focused::after, .button.is-sponsor.is-outlined.is-loading.is-hovered::after, .button.is-sponsor.is-outlined.is-loading:focus::after, .button.is-sponsor.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #fff #fff!important
}

.button.is-sponsor.is-outlined[disabled], fieldset[disabled] .button.is-sponsor.is-outlined {
  background-color: transparent;
  border-color: #ea4aaa;
  box-shadow: none;
  color: #ea4aaa
}

.button.is-sponsor.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff
}

.button.is-sponsor.is-inverted.is-outlined.is-focused, .button.is-sponsor.is-inverted.is-outlined.is-hovered, .button.is-sponsor.is-inverted.is-outlined:focus, .button.is-sponsor.is-inverted.is-outlined:hover {
  background-color: #fff;
  color: #ea4aaa
}

.button.is-sponsor.is-inverted.is-outlined.is-loading.is-focused::after, .button.is-sponsor.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-sponsor.is-inverted.is-outlined.is-loading:focus::after, .button.is-sponsor.is-inverted.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #ea4aaa #ea4aaa!important
}

.button.is-sponsor.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-sponsor.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff
}

.button.is-sponsor.is-light {
  background-color: #fdedf6;
  color: #c0167c
}

.button.is-sponsor.is-light.is-hovered, .button.is-sponsor.is-light:hover {
  background-color: #fce1f1;
  border-color: transparent;
  color: #c0167c
}

.button.is-sponsor.is-light.is-active, .button.is-sponsor.is-light:active {
  background-color: #fad6ec;
  border-color: transparent;
  color: #c0167c
}