<div class="tabs is-large is-centered" id="header-menu">
  <ul class="tabs-menu">
    <li [ngClass]="{'is-active': ongletActif == 'accueil'}"><a routerLink="/accueil" routerLinkActive="active"
        class="tabs-menu-link">Accueil</a></li>
    <li [ngClass]="{'is-active': ongletActif == 'objectifs'}"><a routerLink="/objectifs/tout" routerLinkActive="active"
        class="tabs-menu-link">Liste des objectifs</a></li>
    <li [ngClass]="{'is-active': ongletActif == 'sequences'}"><a routerLink="/sequences/tout" routerLinkActive="active"
        class="tabs-menu-link">Liste des séquences</a></li>
  </ul>
</div>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>