<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Description de topmaths.fr" />
    <meta name="keywords" content="Mathématiques, collège, cours, exercices, exerciseur, anki, 6ème, 5ème, 4ème, 3ème" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>topmaths.fr - les maths au top !</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/logo32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/logo96.png" />
</head>
<body>
<nav>
  <ul>
    <li><a routerLink="/accueil" routerLinkActive="active">Accueil</a></li>
    <li><a routerLink="/objectif" routerLinkActive="active">Objectif</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
</body>
</html>