<div class="container is-max-desktop" style="text-align:center">
    <div class="box">
        <h1 [innerHTML]="titre" class="title is-2"></h1>
    </div>
    <div class="box">
        <h2 class="title is-3">Objectifs</h2>
        <p> Cette séquence a {{nombreEnLettres(objectifs.length)}} objectifs :</p>
        <div style="padding: 5px;">
            <div *ngFor="let objectif of objectifs" style="padding: 5px;">
                <a [routerLink]="['/objectif',objectif.reference]">{{objectif.reference}} : {{objectif.titre}}</a>
            </div>
        </div>
    </div>
    <div class="box">
        <h2 class="title is-3">Calcul Mental</h2>
        <div *ngFor="let calculMental of calculsMentaux; index as i">
            <p>Dans cette séquence, le calcul mental porte sur {{calculMental.objectif}}</p>
            <div><br></div>
            <div *ngFor="let niveau of calculMental.niveaux; index as j">
                <h3 class="title is-4" *ngIf="calculMental.niveaux.length > 1">Niveau {{j + 1}}</h3>
                <p>{{niveau.commentaire}}</p>
                <div class="image is-16by9">
                    <iframe class="has-ratio" [src]="niveau.lien | safe" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <h2 class="title is-3">Questions Flash</h2>
        <p>Dans cette séquence, une question flash porte sur l’un des objectifs ci-dessus et les
            {{questionsFlash.length}} autres portent sur :</p>
        <div><br></div>
        <div style="padding: 5px;">
            <div style="padding: 5px;" *ngFor="let questionFlash of questionsFlash; index as i">
                <a *ngIf="questionFlash.lien != ''; else questionFlashSansLien" [href]="questionFlash.lien" target="_blank" rel="noopener noreferrer">{{questionFlash.objectif}}</a>
                <ng-template #questionFlashSansLien>{{questionFlash.objectif}}</ng-template>
            </div>
        </div>
    </div>
    <div class="box">
        <h2 class="title is-3">Évaluation</h2>
        <a [href]="lienEval" target="_blank" rel="noopener noreferrer">S'entraîner pour l'évaluation</a>
    </div>
    <div class="box">
        <h2 class="title is-3">Téléchargements</h2>
        <div style="padding: 5px;">
            <div style="padding: 5px;"><a *ngIf="lienCours != ''" [href]="lienCours">Télécharger le cours</a></div>
            <div style="padding: 5px;"><a *ngIf="lienResume != ''" [href]="lienResume">Télécharger le résumé</a></div>
            <div style="padding: 5px;"><a *ngIf="lienMission != ''" [href]="lienMission">Télécharger la mission</a></div>
            <div style="padding: 5px;"><a *ngIf="lienAnki != ''" [href]="lienAnki">Télécharger le paquet Anki de la séquence</a></div>
        </div>
    </div>
</div>