<div class="columns centre">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <div class="box">
      <h1 class="title is-2">Programmation</h1>
      <p>Les séances de programmation sont réparties sur l'année lorsqu'on sera en groupe.<br>
        Lors de la première séance sur Lightbot Hour, vous ne serez pas notés.<br>
        Mais vous serez notés sur les suivantes selon le barème suivant :
      </p><br>
      <div class="columns is-centered">
        <div class='list has-text-left'>
          <div class='list-item'>
            <span class='tag is-white'>
              <img src="/assets/img/jaune.png" width="12px">
            </span>
            &nbsp; 80 points : Jaune
          </div>
          <div class='list-item'>
            <span class='tag is-white'>
              <img src="/assets/img/vert-clair.png" width="12px">
            </span>
            160 points : Vert Clair
          </div>
          <div class='list-item'>
            <span class='tag is-white'>
              <img src="/assets/img/vert-fonce.png" width="12px">
            </span>
            240 points : Vert Foncé
          </div>
        </div>
      </div>
      <p>Si vous n'êtes pas à l'aise, n'hésitez pas à prendre de l'avance à la maison !</p>
    </div>
    <div class="box">
      <h2 class="title is-3">Initiation : Lightbot Hour</h2>
      <img src="/assets/img/lightbot.png" width="200px"><br>
      <div class="columns is-centered is-vcentered">
        <a href='https://play.google.com/store/apps/details?id=com.lightbot.lightbothoc&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' style="display: inline-block; overflow: hidden; border-radius: 13px; width: 320px;">
          <img alt='Disponible sur Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/fr_badge_web_generic.png' style="border-radius: 13px; width: 320px;" />
        </a>
        <a href="https://apps.apple.com/us/app/lightbot-code-hour/id873943739?itsct=apps_box_badge&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px;">
          <img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/fr-fr?size=250x83&amp;releaseDate=1399507200&h=3048f79da1f98cd11c6a5412485c29d2" alt="Download on the App Store" style="border-radius: 13px; width: 250px;">
        </a>
      </div>
      <p class="is-size-7">Google Play and the Google Play logo are trademarks of Google LLC. &nbsp; App Store and the App Store logo are trademarks of Apple Inc.</p>
    </div>
    <div class="box">
      <h2 class="title is-3">Séance 1 : Algorea - Séquences d'instructions</h2>
      <a href="https://concours.castor-informatique.fr/?team=seriousg1">
        <img src="assets/img/seance_seriousgame_01.png">
      </a>
    </div>
    <div class="box">
      <h2 class="title is-3">Séance 2 : Algorea - Boucles simples</h2>
      <a href="https://concours.castor-informatique.fr/?team=seriousg2">
        <img src="assets/img/seance_seriousgame_02.png">
      </a>
    </div>
    <div class="box">
      <h2 class="title is-3">Séance 3 : Algorea - Boucles à motif</h2>
      <a href="https://concours.castor-informatique.fr/?team=seriousg3">
        <img src="assets/img/seance_seriousgame_03.png">
      </a>
    </div>
    <div class="box">
      <h2 class="title is-3">Séance 4 : Algorea - Boucles imbriquées</h2>
      <a href="https://concours.castor-informatique.fr/?team=seriousg4">
        <img src="assets/img/seance_seriousgame_04.png">
      </a>
    </div>
    <div class="box">
      <h2 class="title is-3">Séance 5 : Algorea - Conditions</h2>
      <a href="https://concours.castor-informatique.fr/?team=seriousg5">
        <img src="assets/img/seance_seriousgame_05.png">
      </a>
    </div>
    <div class="box">
      <h2 class="title is-3">Séance 6 : Algorea - Variables</h2>
      <a href="https://concours.castor-informatique.fr/?team=seriousg6">
        <img src="assets/img/seance_seriousgame_06.png">
      </a>
    </div>
    <div class="box">
      <h2 class="title is-3">Séance 7 : Algorea - Boucles conditionnelles</h2>
      <a href="https://concours.castor-informatique.fr/?team=seriousg7">
        <img src="assets/img/seance_seriousgame_07.png">
      </a>
    </div>
    <div class="box">
      <h2 class="title is-3">Séance 8 : Algorea - Procédures</h2>
      <a href="https://concours.castor-informatique.fr/?team=seriousg8">
        <img src="assets/img/seance_seriousgame_08.png">
      </a>
    </div>
  </div>
  <div class="column is-one-fifth">
    <!-- Utilisateurs connectés -->
    <app-whosonline></app-whosonline>
  </div>