<span *ngFor="let ligne of lignes;">
  <p *ngIf="ligne.niveau != null" class="title is-3">{{ligne.niveau}}</p>
  <p *ngIf="ligne.theme != null" class="title is-4">{{ligne.theme}}</p>
  <p *ngIf="ligne.sous_theme != null" class="subtitle is-5">{{ligne.sous_theme}}</p>
  <a *ngIf="ligne.reference != null" routerLink="/{{ligne.reference}}" routerLinkActive="active">
    {{ligne.reference}} : {{ligne.titre}}<br>
  </a>
</span>
<!-- J'aimerais bien mettre des séparations quand on change de niveau ou de thème. *ngIf ? -->