<h1 class="title is-1 has-text-centered" *ngIf="annee != '' && dataService.pseudoClique == ''" >Trophées de l'année de {{ annee }}</h1>
<h1 class="title is-1 has-text-centered" *ngIf="dataService.pseudoClique != ''" >Trophées de {{ dataService.pseudoClique }}</h1>
<div *ngIf="annee == ''" class="has-text-centered">
  <h1 class="title is-1">Cette page n'est plus disponible</h1>
  <a [routerLink]="['/accueil']">
    <button class="button is-large is-info is-outlined" style="padding: 50px;">
      <h1 style="font-size: xx-large;">Retourner à l'accueil</h1>
    </button>
  </a>
</div>
<div *ngFor="let ligne of lignes" class="columns is-centered" style="text-align: center;">
  <div *ngFor="let groupe of ligne" class="column is-narrow" style="display: flex; align-items: center; justify-content: center;">
    <div *ngFor="let trophee of groupe" class="card" style="width: 150px;">
      <div class="card-image">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <img [src]="trophee.lien" />
          </div>
          <div *ngIf="trophee.tooltip != ''" class="dropdown-menu">
            <div class="dropdown-content" style="width: 145px;">
              <div class="dropdown-item" style="font-size: small">
                <p [innerHTML]="trophee.tooltip"></p>
                <p (click)="refaireEvaluation(trophee)" [innerHTML]="trophee.refaire"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <span class="card-footer-item" style="font-size: small" [innerHTML]="trophee.description">
        </span>
      </footer>
    </div>
  </div>
</div>
<div><br><br><br></div>
<div class="has-text-centered" style="font-size: small">Contrairement au reste du site, les images des trophées ne sont pas sous licence libre.<br>
Si vous souhaitez les réutiliser, vous pouvez regarder <a href="https://www.shutterstock.com/g/babysofja" target="_blank" rel="noopener noreferrer">ici</a>.</div>


<!-- Modale de confirmation refaire l'évaluation -->
<div id="modaleRefaireEvaluation" class="modal">
  <div class="modal-background" (click)="fermerModal('confirmation')"></div>
  <div class="modal-content">
    <br><br><br><br>
    <div style="background-color: white; padding: 50px; text-align: center;">
      <p [innerHTML]="texteModale"></p>
      <br><br>
      <div class="columns">
        <div class="column">
          <button class="button is-danger" style="padding-left: 50px; padding-right: 50px;" (click)="fermerModal('confirmation')">Non</button>
        </div>
        <div class="column">
          <button class="button is-success" style="padding-left: 50px; padding-right: 50px;" (click)="envoiConfirmation()">Oui</button>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="fermerModal('confirmation')"></button>
</div>

<!-- Modale de choix de codeTrophee -->
<div id="modaleChoixCodeTrophee" class="modal">
  <div class="modal-background" (click)="fermerModal('choix')"></div>
  <div class="modal-content">
    <br><br><br><br>
    <div style="background-color: white; padding: 50px; text-align: center;">
      <p [innerHTML]="texteModaleChoix"></p>
      <br><br>
      <div class="columns">
        <div class="column">
          <button class="button is-info" style="padding-left: 50px; padding-right: 50px;" (click)="envoiChoix(codeTrophee)">{{ codeTrophee }}</button>
        </div>
        <div class="column">
          <button class="button is-danger" style="padding-left: 50px; padding-right: 50px;" (click)="fermerModal('choix')">Annuler</button>
        </div>
        <div class="column">
          <button class="button is-info" style="padding-left: 50px; padding-right: 50px;" (click)="envoiChoix(dataService.user.codeTrophees)">{{ dataService.user.codeTrophees }}</button>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="fermerModal('choix')"></button>
</div>