<div class=container style="text-align: center;">
  <span style="padding: 10px;">
    <a [routerLink]="['/objectifs/tout']">
      <button class="button is-large is-info is-outlined" style="padding: 50px;">
        <h1 style="font-size: xx-large; width: 150px;">Objectifs</h1>
      </button>
    </a>
  </span>
  <span style="padding: 10px;">
    <a [routerLink]="['/sequences/tout']">
      <button class="button is-large is-link is-outlined" style="padding: 50px;">
        <h1 style="font-size: xx-large; width: 150px;">Séquences</h1>
      </button>
    </a>
  </span>
  <br>
  <br>
  <span style="padding: 10px;">
    <a [routerLink]="['/jeux']">
      <button class="button is-large is-success is-outlined" style="padding: 50px;">
        <h1 style="font-size: xx-large; width: 150px;">Jeux</h1>
      </button>
    </a>
  </span>
  </div>