<div class="columns" style="text-align: center;">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <span style="padding: 10px;">
      <a [routerLink]="['/objectifs/tout']">
        <button class="button is-large is-info is-outlined" style="padding: 50px;">
          <h1 style="font-size: xx-large; width: 150px;">Objectifs</h1>
          &nbsp;
          <i class="image is-48x48 is-inline-block"><img src="assets/img/cc0/dart-board-svgrepo-com.svg" /></i>
        </button>
      </a>
    </span>
    <br>
    <br>
    <span style="padding: 10px;">
      <a [routerLink]="['/sequences/tout']">
        <button class="button is-large is-link is-outlined" style="padding: 50px;">
          <h1 style="font-size: xx-large; width: 150px;">Séquences</h1>
          &nbsp;
          <i class="image is-48x48 is-inline-block"><img src="assets/img/cc0/guest-book-svgrepo-com.svg" /></i>
        </button>
      </a>
    </span>
    <br>
    <br>
    <span style="padding: 10px;">
      <a [routerLink]="['/revisions']">
        <button class="button is-large is-danger is-outlined" style="padding: 50px;">
          <h1 style="font-size: xx-large; width: 150px;">Révisions</h1>
          &nbsp;
          <i class="image is-48x48 is-inline-block"><img src="assets/img/gvalmont/revisions-regular.svg" /></i>
        </button>
      </a>
    </span>
    <br>
    <br>
    <span style="padding: 10px;">
      <a [routerLink]="['/exercices-au-hasard']">
        <button class="button is-large is-primary is-outlined" style="padding: 50px;">
          <h1 style="font-size: xx-large; width: 150px;">Exercices<br>au hasard</h1>
          &nbsp;
          <i class="image is-48x48 is-inline-block"><img src="assets/img/cc0/dice-svgrepo-com.svg" /></i>
        </button>
      </a>
    </span>
    <br>
    <br>
    <span style="padding: 10px;">
      <a [routerLink]="['/jeux']">
        <button class="button is-large is-success is-outlined" style="padding: 50px;">
          <h1 style="font-size: xx-large; width: 150px;">Jeux</h1>
          &nbsp;
          <i class="image is-48x48 is-inline-block"><img src="assets/img/cc0/gamepad-retro-f-svgrepo-com.svg" /></i>
        </button>
      </a>
    </span>
  </div>
  <div class="column is-one-fifth">
    <!-- Utilisateurs connectés -->
    <app-whosonline></app-whosonline>
  </div>
</div>